<p ng-show="!vm.isLoggedIn()">
  <i class="material-icons">&#xE88E;</i>
  Zeneszámok hozzáadásához vagy szavazáshoz jelentkezz be Facebookoddal.
</p>

<div layout="column" layout-gt-md="row" layout-align="space-between" style="margin-top: 30px">

  <md-card flex-gt-md="50" flex-order="2" flex-order-gt-md="1">
    <md-card-content>
      <h2>Összes szeletelnivaló</h2>
      <div layout="column">
        <div layout="row">
          <md-input-container flex="100" style="margin-bottom: 0">
            <label>Zeneszám keresés{{vm.isLoggedIn() ? " / hozzáadás" : ""}}</label>
            <input type="text" ng-model="vm.musicTitle">
          </md-input-container>
        </div>

        <div layout="row" layout-align="center" ng-show="vm.isLoggedIn() && filtered.length === 0 && vm.musicTitle.length > 0">
          <md-button class="md-primary md-raised" ng-click="vm.addNew()">Zeneszám hozzáadása</md-button>
        </div>

        <md-list>
          <md-list-item class="md-1-line md-whiteframe-1dp all-list-element"
                        ng-repeat="music in vm.musics | filter:vm.musicTitle | orderBy:title:true | orderBy:vm.upvotesOfMusic:true as filtered"
                        ng-class-odd="'odd'"
                        layout="row"
                        layout-align="start none"
                        layout-wrap>
            <div layout="column"
                 ng-class="vm.upvoteClass(music)"
                 layout-align="center center"
                 flex="15"
                 flex-gt-md="10"
                 flex-order="1">
              <i class="material-icons upvote-arrow upvote-arrow-up"
                 ng-click="vm.upvote(music, 1)"
                 ng-class="{clickable: vm.isLoggedIn(), invisible: !vm.isLoggedIn()}">&#xE316;</i>
              <h4 class="upvote-value">{{vm.upvotesOfMusic(music)}}</h4>
              <i class="material-icons upvote-arrow upvote-arrow-down"
                 ng-click="vm.upvote(music, -1)"
                 ng-class="{clickable: vm.isLoggedIn(), invisible: !vm.isLoggedIn()}">&#xE313;</i>
            </div>
            <div layout="row"
                 flex="20"
                 flex-gt-md="10"
                 layout-align="center center"
                 flex-order="2">
              <img ng-src="{{vm.getArt(music) || 'img/defaultArt.png'}}" class="md-avatar" style="margin: 0"/>
            </div>
            <div layout="column"
                 flex="15"
                 flex-gt-md="5"
                 layout-align="center center"
                 flex-order="4"
                 flex-order-gt-md="3">
              <i class="material-icons delete-icon clickable"
                 ng-show="vm.isRemovable(music)"
                 ng-click="vm.remove(music)">&#xE872;</i>
            </div>
            <div class="md-list-item-text"
                 flex="65"
                 flex-gt-md="50"
                 layout="column"
                 layout-align="center start"
                 flex-order="3"
                 flex-order-gt-md="4">
              <h3 hide-xs hide-sm hide-md>{{music.title}}</h3>
              <h4 hide-gt-md>{{music.title}}</h4>
            </div>
            <div layout="row"
                 flex="85"
                 flex-gt-md="20"
                 flex-offset-gt-md="5"
                 layout-align="end center"
                 flex-order="5">
              <a ng-show="vm.getSpotifyLink(music)" ng-href="{{vm.getSpotifyLink(music)}}" target="_blank"><img
                      ng-src="img/spotify.png" class="md-avatar"/>
              </a>
              <a ng-href="{{vm.getYoutubeLink(music)}}" target="_blank"><img
                      ng-src="img/youtube.png" class="md-avatar"/>
              </a>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </md-card-content>
  </md-card>

  <div layout="column" flex-gt-md="45" flex-order="1" flex-order-gt-md="2">
    <div layout="row">
      <md-card flex="100">
        <md-card-content>
          <h2>Amiket még nem véleményeztél</h2>
          <md-list>
            <md-list-item class="md-1-line md-whiteframe-1dp not-rated-list-element"
                          ng-repeat="music in vm.musics | filterNotUpvoted | limitTo:3"
                          ng-class-odd="'odd'"
                          layout="row"
                          layout-align="start none"
                          layout-wrap>
              <div layout="column"
                   ng-class="vm.upvoteClass(music)"
                   layout-align="center center"
                   flex="15"
                   flex-gt-md="10"
                   flex-order="1">
                <i class="material-icons upvote-arrow upvote-arrow-up"
                   ng-click="vm.upvote(music, 1)"
                   ng-class="{clickable: vm.isLoggedIn(), invisible: !vm.isLoggedIn()}">&#xE316;</i>
                <h4 class="upvote-value">{{vm.upvotesOfMusic(music)}}</h4>
                <i class="material-icons upvote-arrow upvote-arrow-down"
                   ng-click="vm.upvote(music, -1)"
                   ng-class="{clickable: vm.isLoggedIn(), invisible: !vm.isLoggedIn()}">&#xE313;</i>
              </div>
              <div layout="row"
                   flex="20"
                   flex-gt-md="10"
                   layout-align="center center"
                   flex-order="2">
                <img ng-src="{{vm.getArt(music) || 'img/defaultArt.png'}}" class="md-avatar" style="margin: 0"/>
              </div>
              <div class="md-list-item-text"
                   flex="55"
                   flex-gt-md="50"
                   layout="column"
                   layout-align="center start"
                   flex-order="3">
                <h3 hide-xs hide-sm hide-md>{{music.title}}</h3>
                <h4 hide-gt-md>{{music.title}}</h4>
              </div>
              <div layout="row"
                   flex="100"
                   flex-gt-md="20"
                   flex-offset-gt-md="5"
                   layout-align="end center"
                   flex-order="5"
                   flex-order-gt-md="4">
                <a ng-show="vm.getSpotifyLink(music)" ng-href="{{vm.getSpotifyLink(music)}}" target="_blank"><img
                        ng-src="img/spotify.png" class="md-avatar"/>
                </a>
                <a ng-href="{{vm.getYoutubeLink(music)}}" target="_blank"><img
                        ng-src="img/youtube.png" class="md-avatar"/>
                </a>
              </div>
              <div layout="column"
                   flex-gt-md="5"
                   layout-align="start start"
                   flex-order="4"
                   flex-order-gt-md="6">
                <i class="material-icons close-icon clickable"
                   ng-click="vm.upvote(music, 0)">&#xE5CD;</i>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>