html {
  overflow-y: scroll;
}

.upvote-arrow {
  font-size: 40px;
}

.upvote-value {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.upvote-pos .upvote-value {
  color: #558B2F;
}

.upvote-neg .upvote-value {
  color: #D32F2F;
}

.invisible,
.upvote-user-neg .upvote-arrow-down,
.upvote-user-pos .upvote-arrow-up {
  color: rgba(0, 0, 0, 0);
  cursor: default !important;
}

.toolbar-image {
  height: 80%;
  border-radius: 100px;
}

.page-loader {
  height: 100%;
  display: block;
  margin: auto;
}

.clickable {
  cursor: pointer;
}

.page-loader md-progress-circular {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

md-list-item.odd {
  background-color: rgba(0, 0, 0, 0.04);
}

.all-list-element,
.not-rated-list-element {
  margin: 10px;
}

.not-rated-list-element .close-icon {
  margin-top: 10px;
}

.spotify-container {
  overflow: hidden;
}

.spotify-container iframe {
  width: 60px;
  transform: translate(-20px, -20px);
  height: 60px;
}